/* grisclaro #D9DCDD
grisOscuro #A0A0A0
grisMedio #C4C6C6 */

.border-phone {
    background: white;
    box-shadow: 0 4px 8px 0 #00000077;
    border-radius: 30px;
    width: 320px;
    height: 670px;
    padding: 10px 10px;
}

.components-phone {
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    padding: 0 5px;
}

.space-components {
    width: 90%;
}

.icons {
    margin: 0 2px;
}

.navigator-page {
    background: #D9DCDD;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 25px;
    margin-top: 25px;
}
.navigator-page p {
    width: 85%;
}

.content-page {
    background: #D9DCDD;
    border-radius: 10px;
    padding: 5px;
    margin-top: 15px;
}

.cabecera-menu {
    display: flex;
    align-items: center;
}

.cabecera-menu h1 {
    margin: 5px;
}

.space-cabecera {
    width: 80%;
}

.product-name h2 {
    margin: 10px 0;
}

.product {
    display: block;
    align-items: center;
    justify-content: center;
    background: #C4C6C6;
    width: 100%;
    border-radius: 10px;
    padding-bottom: 10px;
    
}

.image-producto {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.icons-center {
    width: 90%;
}

.vistas-product {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.vista {
    background: #A0A0A0;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin: 0 5px;
}

.precio {
    width: 60%;
    display: flex;
}

.value-product {
    display: flex;
    align-items: center;
    text-align: left;
}
.option {
    background: rgb(255, 187, 0);
    padding: 5px 10px;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    border-radius: 10px;
    margin: 10px 5px;
}

.menu-safari {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-safari {
    margin: 0 12px;
}

.menu-iphone {
    text-align: center;
    margin: 70px;
}

